<div>
  <h2>Role Selection</h2>
  <select [(ngModel)]="employeeRole">
    <option value="">Select Role</option>
    <option value="Admin">Admin</option>
    <option value="HR">HR</option>
    <option value="Marketing">Marketing</option>
    <option value="Developer">Developer</option>
    <option value="Analyst">Analyist</option>
  </select>

  @switch (employeeRole) { @case('Admin') {
  <h1>List of Employees</h1>
  <h3>Selected Role: Admin</h3>
  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Role</td>
      </tr>
    </thead>
    <tbody>
      @for(emp of employees(); track $index) { @if(emp.role === "Admin") {
      <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.role }}</td>
      </tr>
      } }
    </tbody>
  </table>
  } }
</div>
